:root {
    --page-background-color:  #1c1c1c /* black-ish */;
    --main-background-color: #1c1c1c;
    --main-font-color: #fff;
    --search-button-color-one: #678fff;
    --search-button-color-two: #5c83f0;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: var(--page-background-color);
}

main {
    /*border: 1px solid #5f6368;*/ /* Not sure if border needed. Commenting out for now. */
    border-radius: 8px;
    background: var(--main-background-color);
    color: var(--main-font-color);
    padding: 10px;
    width: 800px;
    height: 500px;
    margin: 50px auto 200px auto;
    text-align: center;
}

main h1 {
    font-size: 48px;
    font-variant: small-caps;
}

#search-input {
    border: 1px solid #222;
    margin: 0 2px;
    padding: 4px 5px;
    border-radius: 3px;
    height: 30px;
    width: 400px;
}

#search-input:focus {
    outline: none;
    border: 1px solid #678fff;
}

#search-button {
    background: var(--search-button-color-one);
    border: 1px solid var(--search-button-color-one);
    color: #fff;
    border-radius: 3px;
    width: 80px;
    height: 40px;
}

#search-button:hover {
    cursor: pointer;
    background: var(--search-button-color-two);
    border-color: var(--search-button-color-two);
}

#checkboxes-parent {
    min-height: 50px;
    margin-top: 20px;
}

#search-message {

}

.checkboxes {
    margin: 0 5px;
}