:root {
    --page-background-color:  #1c1c1c /* black-ish */;
    --main-background-color: #1c1c1c;
    --main-font-color: #fff;
    --search-button-color-one: #678fff /* blue */;
    --search-button-color-two: #5c83f0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: var(--page-background-color);
    height: 100vh;
    width: auto; /* For mobile view */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /*border: 1px solid hotpink;*/
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

/* Main section */

main {
    margin-top: 6rem;
    background: var(--main-background-color);
    color: var(--main-font-color);
    padding: 1rem;
    width: 80%;
    max-width: 900px;
    text-align: center;

    /*border: 1px solid #5f6368;  !*Not sure if border needed. Commenting out for now.*!*/
    /*border-radius: 8px;*/
}

#main-heading {
    font-size: 48px;
    font-variant: small-caps;
    /*border: 1px solid slateblue;*/
}

#search-text-input {
    border: 1px solid #222;
    margin: 2px;
    padding: 4px 5px;
    border-radius: 3px;
    height: 30px;
    width: 25rem;
    max-width: 90%;
}

#search-text-input:focus {
    outline: none;
    border: 1px solid var(--search-button-color-one);
}

#search-button {
    background: var(--search-button-color-one);
    border: 1px solid var(--search-button-color-one);
    color: #fff;
    border-radius: 3px;
    width: 80px;
    height: 40px;
}

#search-button:hover {
    cursor: pointer;
    background: var(--search-button-color-two);
    border-color: var(--search-button-color-two);
}

#checkboxes-parent {
    min-height: 50px;
    margin-top: 20px;
    /*border: 1px solid darkcyan;*/
}

.checkboxes {
    margin: 0 5px;
}

label {
    white-space: nowrap;
}

#search-message {
    /*border: 1px solid darkorange;*/
}

footer {
    width: 98%;
    margin: 1rem 0 2rem 0;
    color: #5f6368;
    /*border: 1px solid blueviolet;*/
}

#footer-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-link:hover {
    transform: scale(1.02);
}

#github-image {
    max-width: 25px;
    max-height: 25px;
    margin: 0 5px;
    /*border: 1px solid bisque;*/
}

#my-name-in-footer {
    padding-top: 3px;
    /*border: 1px solid salmon;*/
}